name: Deploy Ilisher Bari Server

on:
  push:
    branches:
      - "main"
  pull_request:
    branches:
      - "main"

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Copying the code
        uses: actions/checkout@v5

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 22.14.0

      - name: Check Node Version
        run: |
          node -v
          npm -v

      - name: Install Dependencies
        run: npm install --frozen-lockfile

  deploy:
    runs-on: ubuntu-latest
    needs: build

    steps:
      - name: Copying the code
        uses: actions/checkout@v5

      - name: Deploy to Server via SSH
        env:
          SSH_PRIVATE_KEY: ${{ secrets.SSH_KEY_SABINA_PORTFOLIO }}
          EC2_HOST: ${{ secrets.HOST_SABINA_PORTFOLIO }}
          EC2_USER: ${{ secrets.USER_SABINA_PORTFOLIO }}
        run: |
          mkdir -p ~/.ssh
          echo "$SSH_PRIVATE_KEY" > ~/.ssh/id_rsa
          chmod 600 ~/.ssh/id_rsa
          ssh-keyscan -H $EC2_HOST >> ~/.ssh/known_hosts

          # Install Node.js on EC2
          ssh $EC2_USER@$EC2_HOST "
            sudo apt update
            sudo apt install -y build-essential python3
            curl -fsSL https://deb.nodesource.com/setup_18.x | sudo -E bash -
            sudo apt-get install -y nodejs
            sudo npm install -g pm2
          "

          # Create deployment directory
          ssh $EC2_USER@$EC2_HOST "sudo mkdir -p /var/www/Sabina-Akter"
          ssh $EC2_USER@$EC2_HOST "sudo chown -R $EC2_USER:$EC2_USER /var/www/Sabina-Akter"

          # Copy files to the server
          rsync -avz \
            --exclude='.git' \
            --exclude='node_modules' \
            --exclude='.github' \
            . $EC2_USER@$EC2_HOST:/var/www/Sabina-Akter/

          # Install dependencies
              ssh $EC2_USER@$EC2_HOST "
                cd /var/www/Sabina-Akter &&
                npm install --omit=dev
              "

              # Build Next.js
              ssh $EC2_USER@$EC2_HOST "
                cd /var/www/Sabina-Akter &&
                npm run build
              "

              # Restart app with PM2
              ssh $EC2_USER@$EC2_HOST "
                pm2 delete Sabina-Akter || true
                cd /var/www/Sabina-Akter &&
                pm2 start npm --name Sabina-Akter -- start
                pm2 save
              "
